@import url("/style/reset.css");
section {
    width: 100%;
    padding: 2.5em 2em;
    background-color: #efd3c6;
}
body {
    background-color: #efd3c6;
}
#navbar {
    background-color: #efd3c6;
    position: fixed;
    top: 0;
    width: 100%;
    transition: top 0.3s;
    z-index: +100;
    padding: 3rem 0 2rem 0!important;
  }  
.disply-flex {
    display: flex;
    width: auto;
}
.disply-dir-row{
    flex-direction: row;
}
.disply-dir-column{
    flex-direction: column;
}
.disply-jstify{
    justify-content: space-between;
}
.padding-L-R {
    padding: 0em 0.9em;
}
.padding-L {
    padding-left: 0.8em;
}
.comprese-padding-L-R {
    padding: 0em 0.8em;
}
.tite {
    font-size: 2rem;
    font-weight: 500;
    font-family: Raleway , 'sans-serif';
    color: black;
}
.font-header-link {
    font-size: 1.9rem;
    font-weight: 400;
    font-family: Roboto , sans-serif;
    position: relative;
}
.font-header-link::after , .font-header-link::before{
    position: absolute;
    content: "";
    display: table;
    clear: both;
    width: 45%;
    bottom: -5%;
    right: 0;
    border-bottom: .2rem solid #463232;
    transform-origin: right;
    transform: scaleX(0);
    transition: all .2s ease-in-out;
}
.font-header-link::before {
    left: 0;
    transform-origin: left;
}
.font-header-link:hover::after , .font-header-link:hover::before {
    transform: scaleX(1);
}
.linkheader {
    gap: 1rem;
}
.shoping-cart {
    position: relative;
    transform: rotatey(180deg);
}
.fa{
    color:black ; 
}
.shoping-quantity-identifier {
    position: absolute;
    font-size: 1rem;
    padding: 0.5em;
    font-weight: bolder;
    top: -2.3em;
    right: 0em;
    background-color: #423434;
    color: white;
    border-radius: 50%;
    text-align: center;
    /* height: 2rem; */
    width: 2rem;
}
.header-title {
    text-align: center;
    font-size: 3rem;
    color: #463232;
}
.large-margin-top {
    margin-top: 2em;
}
.min-margin-top {
    margin-top: 1em;
}
.row1 {
    width: min(100% , 60rem);
    font-size: 2.3rem;
    font-weight: 300 ;
    padding: .5em 1.5em 5rem 1.5em;
    margin-top: 4rem;
}
.row1 > p {
    margin: .5em 0em;
    letter-spacing: .1rem;
    word-spacing: .3rem;
}
.row2 {
    flex-basis: auto;
    position:fixed;
    right: 0;
    bottom: 0em;
    font-size: 1.5rem;
    padding: 3.5em 0em 0em 0em;
}
.row2 > i {
    padding: 0.4em;
    margin: 0.4em 0.5em 0.4em 0em;
    font-size: 1.7em;
}
.header-input {
    width: 80%;
    background-color: white;
    padding: 0.2em 0.5em;
    position: relative;
}
.header-img {
    background-image: url("/media/images/p1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    z-index: -1;
}
.headerform {
    align-items: center;
}
.user-search-input {
    width: 100%;
}
.user-search-input , .user-search-input:focus {
    border: none;
    outline: none;
    font-size: 1.7rem;
    padding: 1em 0.5em;
    height: 2.5em;
    transition: all .5s ease-in-out;
}
.user-search-input:focus {
    padding-left: 3rem;
    font-size: 1.9rem;
}
.user-search-input-icon {
    font-size: 2rem;
    padding: 0.8rem 0.8rem;
    background-color: #453332;
}
.user-search-input-icon > i {
    color: white;
}
.header-button > button {
    border: none;
    font-size: 1.6rem;
    font-weight: lighter;
    border-radius: 0em;
    padding: 0.9em 3em;
    background-color: #453332;
    color: white;
    transition:all 0.3s ease-in-out;
}
.header-button:hover > button:hover {
    box-shadow: 0rem 2rem 1rem -0.4rem #8a6b5f63;   
    transform: translateY(-.5rem);
    border-radius: .5rem;
}
.lender-header-title {
    text-align: center;
    color: #453232;
    font-size: 2rem;
}
.lender-sec {
    background-color: #fef6f0;
    align-items: center;
    justify-content: space-around;
}
.lenders-sec-logo {
    width: 100%;
    padding: 4em 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5rem;
}
.lender-logo > img {
    width: 100%;
    height: 100%;
}
.lender-logo {
    padding: 0.5em 0.1em;
    width: max(12% , 13rem);
}
.about-us-sec {
    background-color: white;
    padding: 6em 5em 2em 5em;
    gap: 5rem;
}
.about-us-title {
    text-align: left;
    color: #453232;
    font-size: 6rem;
    letter-spacing: .03em;
    word-spacing: 2rem;
}
.left-side , .right-side{
    flex-basis: 50%;
}
.product__container {
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(40rem , 1fr));
    gap: 5rem;
}
.left-side-paragraph , .right-side-paragraph {
    font-size: 1.8rem;
    color: #7d7d7d;
    line-height: 1.9;
    word-spacing: .2rem;
    overflow-wrap:normal;
    cursor: pointer;
    margin-bottom: 4rem;
}
.darkslategray-button {
    background-color:#463232;
    color: white;
    border: 0.2em solid #463232;
    padding: 0.9em 3em;    
    transition:all 0.2s ease-in-out;
    font-size: 1.5rem;
    border-radius: 1rem;
}
.darkslategray-button:hover {
    box-shadow: 0rem 2rem 1rem -0.4rem #8a6b5f63;   
    transform: translateY(-.5rem);
    border-radius: 2rem;
    color: #423434;
    background-color: white;
}
.lite-lategray-button {
    color:#463232;
    border: 0.2em solid #463232;
    border-radius: 1rem;
    padding: 0.9em 3em;    
    background-color: white;
    transition:all 0.3s ease ;
    font-size: 1.5rem;
}
.lite-lategray-button:hover {
    box-shadow: 0rem 2rem 1rem -0.4rem #8a6b5f63;   
    transform: translateY(-.5rem);
    border-radius: 2rem;
    color: white;
    background-color: #423434;
}
.left-side-img {
    width: 100%;
    margin-top: 4em;
    border-radius: 0.6em;
    height: 30rem;
}
.right-side-img {
    width: 100%;
    margin: 0%;
    border-radius: 0.6em;
    height: 30rem;
}
.right-side-paragraph {
    margin-top: 3rem;
}
.product-us-title {
    text-align: center;
    flex-basis: 100%;
    color: #453232;
    font-size: 6rem;
    letter-spacing: 00.1em;
    margin-top: 0.4em;
}
.product-us-paragraph {
    font-size: 2rem;
    color: #7d7d7d;
    flex-basis: 100%;
    text-align: center;
    cursor: pointer;
    margin-top: -1rem;
}
.side-title {
    font-size: 3.5rem;
    font-weight: 400;
    color: #453232;
}
.product-rate {
    width: 100%;
    display:grid;
    grid-template-areas: "a a b b c c"
    "k k k t t t " ;
    justify-content: space-between;
    gap: 1rem;
}
.product-rate-sec {
    margin-right: 0.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 10rem;
}
.product-rate-sec > h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all .3s ease-in-out;
    width: 5rem;
}
.product-rate-sec:hover h1{
    width: 100%;
    transform: translateY(1.5rem);
}
.product-rate-sec > p {
    white-space: nowrap;
}
.grid--area1 {
    grid-area: a;
    position: relative;
}
.grid--area1::after , .grid--area2::after{
    position: absolute;
    height: 100%;
    border-left: .1rem solid #423434;
    content: "";
    clear: both;
    display: table;
    right: -8%;
    transform: translate(-8% , -5%);
    z-index: +10;
}
.grid--area2 {
    grid-area: b;
    position: relative;
}
.grid--area3 {
    grid-area: c;
}
.grid--areabt {
    grid-area: k;
}
.grid--areact {
    grid-area: t;
}
.product-rate-num {
    color: #4e8e9f;
    font-size: 2.5rem;
    font-weight: 700;
    width: min-content;
}
.product-rate-num::after {
    display: block;
    content: "";
    clear: both;
    width: 100%;
    border-bottom: 0.1em solid  #453232;
    margin-top: 0.3em;
}
.record {
    background-color: #fffbf7;
    padding: 4em 0em;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 2rem;
}
.record-sec {
    text-align: center;
    width: max(30% , 30rem);
    transition: all .2s linear;
    border-right: 0.3em solid #453232;
}
.record-sec:hover {
    transform-origin: left;
    transform: translateX(-1rem);
}
.record-title {
    font-size: 4rem;
    font-weight: 500;
    color: #453232;
}
.record-paragraph {
    font-size: 1.8rem;
    color: #7d7d7d;
    line-height: 1;
    cursor: pointer;
}
.suggest-list {
    background-color: white;
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(40rem , 1fr));
    gap: 10rem;
    align-items: center;
    justify-content: center;
}
.product-sugg {
    background-color: #edd9cb;
    border-radius: 2rem;
    height: 40rem;
    position: relative;
}

.product-sugg > .img {
    transform: translate(2rem, -2rem);
    height: 40rem;
    box-shadow: -1rem 1rem 3rem .1rem rgb(72, 27, 0);
    transition: all .3s ease-in-out;
    position: relative;
    border-radius: 2rem;
    overflow: hidden;
}
.product-sugg > .img > img {
    width: 100%;
    height: 100%;
    border-radius: 2rem;
}
.product-sugg > .img > .suggest-img-button {
    position: absolute;
    color: white;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    clear: both;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: #c8c4b48a;
    border-radius: 2rem;
    transition: all .5s ease-in-out;
    transform: translateY(-100%);
    overflow: hidden;
}
.product-sugg > .img:hover > .suggest-img-button {
    transform: translateY(0%);
}
.product-sugg:hover > .img {
    transform: translate(3.5rem, -3.5rem);
}
.user-feedback{
    background-color: #e0d8d1;
    padding-bottom: 8em;
}
.user-feedback-title {
    width: 100%;
    margin: 3rem 0 8rem 0;
}
.user-feedback-title > p {
    font-size: 2rem;
    margin: 2rem 0;
}
.user-feedback-title-h1 {
    text-align: center;
    font-size: 4rem;
    color: #453232;
}
.costumer-sec {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    flex-wrap: wrap;
    margin-top: 12rem;
}
.costumer-card {
    padding: 4em 2em;
    background-color: white;
    width: max(30% , 35rem);
    border-radius: 2rem;
    transition: all .3s ease-in-out;
}
.costumer-card:hover{
    box-shadow: 0rem -3rem 3rem -1rem #00000085;
    transform: translateY(1rem) ;
}
.customer-rate > i{
    color: #eca698;
}
.customer-info {
    width: 100%;
}
.customer-info-img {
    width: 20%;
    height: 20%;
    border-radius: 50%;
}
.customer-role {
    width: 70%;
    float: right;
    height: 20%;

}
.arrow {
    position: absolute;
    transform: translate(50% , 0);
    right: 50%;
    margin: 1rem 0 3rem 0;
    gap: 5rem;
}

.footer-title {
    color: #453232;
    font-size: 2.5rem;
    font-weight: 400;
}
.footer-sec {
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(20rem , 1fr));
    gap: 5rem;
}
.footer-sec > .left-side , .footer-sec > .left-side > ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.left-side > ul {
    margin-top: 1rem;
}
.left-side > ul > li {
    font-size: 1.5rem;
}
.footer-sec > .left-side > div {
    display: flex;
}
.footer-sec > .left-side > div > i {
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    font-size: 2.5rem;
    padding: 2.1rem;
    border-radius: 1rem;
    transition: all .3s ease-in-out;
}
.footer-sec > .left-side > div > i:hover {
    border-radius: 100%;
    transform: translateY(-1rem);
}
.footer-icon {
    font-size: 1.5rem;
    margin-left: 0.5em;
    margin-right: 0.5em;
    color: white;
    background-color: #453232;
    padding: 0.5rem;
    border-radius: 50%;
}
ul {
    list-style-type: none;
}
li {
    margin: 0.1em 0em;
    font-size: 1.3rem;
    color: #7d7d7d;
    line-height: 1.9;
    text-align: justify;
    cursor: pointer;
}
.cancel {
    color: #baa9a5 !important;
}
.hamburger__list {
    display: flex;
    flex-direction: column;
    width: max-content;
    position: absolute;
    right: 0;
    top: 0;
    transform-origin: top;
    display: none;
    transition: all .2s ease-in-out;
}
.hamburger {
    display: none;
}
@media screen and (max-width : 870px) {
    .hamburger__list {
        display: flex;
        transform: scaleY(1);
    }
    .linkheader__big {
        display: none;
    }
    #navbar {
        padding: 1rem 2rem !important;
    }
    .hamburger {
        display: block ;
        width: 5rem;
        height: 5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background-color: transparent;
        transition: all .2s ease-in-out;
    }
    .hamburger__list {
        position: absolute;
        right: 0;
        top: 100%;
        background-color: #5e5d5dcc;
        padding: 1rem 2rem;
        border-radius: 2rem;
        color: white;
    }
    .hamburger__list::before {
        position: absolute;
        top: -1rem;
        rotate: 45deg;
        right: 3.5rem;
        content: "";
        display: table;
        clear: both;
        border: 1rem solid #423434;
        border-bottom-color: transparent;
        border-right-color: transparent;
    }
    .linkheader__small {
        display: flex;
        flex-direction: column;
    }
    .linkheader >  .font-header-link {
        padding: .5rem 3rem  .5rem 3rem !important;
        display: flex;
        justify-content: center;
    }
    .font-header-link::after  , .font-header-link::before {
        border-color: rgb(187, 187, 187);
    }
    .hamburger-logo {
        height: 5rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .hamburger:hover {
        background-color: #887575;
    }
    .hamburger:after , .hamburger:before {
        content: none;
    }
}
.active-hamburger {
    transform: scaleY(1) !important;
}
